<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyeos.app">

    <application
        android:name=".MainApplication"
        android:label="eyeOS"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.getcapacitor.BridgeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>